extends ../layout/super

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
    style.
        body::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('/img/logo/background-mexico-sin-sordera-2024.jpg') no-repeat center center fixed;
            background-size: cover;
            opacity: 0.3; 
            z-index: -1; 
        }
        .form-background {
            background-color: rgba(70, 184, 169, 0.6); 
        }
        .highlight {
            background-color: rgba(128, 128, 128, 0.6); 
            display: inline-block; 
            padding: 0 15px; 
            border-radius: 10px;
        }
        .image-container {
            display: flex;
            justify-content: center; 
        }
        .image-container img {
            max-width: 100%;
            height: auto;
            max-height: 250px; 
            max-width: 250px; 
            background-color: rgba(112, 111, 111, 0.9); 
            border-radius: 10px; 
            padding: 10px; 
        }

block contenido
    div.py-10 
        h1.text-4xl.my-10.font-extrabold.text-center
            span Fundacion Mexico 
            span.font-normal Sin Sordera A.C 
        h2.text-center.text-2xl.font-extrabold= pagina

        if errores 
            div(class="max-w-md mx-auto my-10")
                each error in errores 
                    p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

        div(class="form-background shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
            form.space-y-8(method="POST" action="/admin/campaing")
                input(type="hidden" name="_csrf" value = csrfToken)
                div.space-y-5
                    div.image-container
                        img(src="/img/logo/logo-mexico-sin-sordera-2023.png" alt="Imagen descriptiva")
                    h3.text-lg.leading-6.font-medium.text-gray-900
                        span.text-center REGISTRAR CAMPAÑA 
                    p.text-gray-600 Añade Informacion sobre la campaña

                    div
                        label.block.text-sm.uppercase.text-black.mb-2.fond-bold(for="nombre") Nombre de la campaña
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Nombre de la campaña" type="text" name="nombre" value= datos ? datos.nombre : '' )        
                    div     
                        label.block.text-sm.uppercase.text-black.mb-2.fond-bold(for="descripcion") Descripcion
                        input#descripcion.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Añade una descripcion de la campaña" type="text" name="descripcion" value= datos ? datos.descripcion : '' )        

                    input(class="w-full py-3 bg-indigo-600 hover:bg-indigo-700 rounded text-white font-bold uppercase cursor-pointer" type="submit" value="Guardar")
