extends ../layout/super

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
    
block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center 
            | FSFLMX 
            span.font-normal Sin Sordera
        h2.text-center.text-2xl.font-extrabold= pagina
        each campaing in campaings
            div(class="bg-white shadow rounded-lg p-6 flex flex-col items-center space-y-8 md:space-y-0 gap-4 text-center") 
                p(class="text-gray-600 font-bold text-1xl") Nombre de la Campaña:
                    span(class="text-gray-800 block text-lg")= campaing.nombre
                div(class="sm:w-1/4 md:w-2/6 lg:w-4/6 flex flex-col lg:flex-row gap-2")
                    a(href=`/pacientes/editar/${campaing.id}` class="text-center w-full md:px-5 md:py-2 py-5 text-xs leading-5 font-semibold rounded cursor-pointer bg-indigo-100 text-indigo-800")
                        | Mostrar
                    a(href=`/pacientes/completado/${campaing.id}` class="text-center w-full md:px-5 md:py-2 py-5 text-xs leading-5 font-semibold rounded cursor-pointer bg-indigo-700 text-white")
                        | Eliminar
                // Salto de línea entre las campañas
                br
