extends ../layout/super

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
    style.
        body::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('/img/logo/background-mexico-sin-sordera-2024.jpg') no-repeat center center fixed;
            background-size: cover;
            opacity: 0.3; 
            z-index: -1; 
        }
        /* Estilo para la sección de campañas */
        .campaign-section {
            background-color: #46b8a9; /* Cambia esto al color que prefieras */
            padding: 20px;
            border-radius: 20px; /* Esquinas redondeadas */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
            margin-bottom: 2px; /* Espacio entre campañas */
            max-width: 100%; /* Ancho máximo del 90% */
        }
        .campaign-title {
            color: #333; /* Cambia esto al color que prefieras */
        }
        .campaign-name {
            color: #ffff; /* Cambia esto al color que prefieras */
        }
        /* Estilo para los botones */
        .btn-mostrar {
            background-color: #94c123; /* Verde */
            color: white;
            padding: 10px; /* Reducir padding */
        }
        .btn-mostrar:hover {
            background-color: #45a049; /* Verde más oscuro */
        }
        .btn-eliminar {
            background-color: #f44336; /* Rojo */
            color: white;
            padding: 10px; /* Reducir padding */
        }
        .btn-eliminar:hover {
            background-color: #e53935; /* Rojo más oscuro */
        }
        /* Estilo para el contenedor de grilla */
        .campaigns-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
            gap: 20px;
            justify-items: center; /* Centrar elementos horizontalmente */
        }

block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center 
            | Fundación México 
            span.font-normal Sin Sordera A.C 
        h2.text-center.text-2xl.font-extrabold CAMPAÑAS REGISTRADAS
        br
        div.campaigns-grid
            each campaing in campaings
                div.campaign-section
                    p(class="campaign-title text-gray-600 font-bold text-1xl") Nombre de la Campaña:
                        span(class="campaign-name text-gray-800 block text-lg")= campaing.nombre
                    div(class="w-full flex flex-col lg:flex-row gap-2 justify-center")
                        a(href=`/pacientes/editar/${campaing.id}` class="btn-mostrar text-center w-full text-xs leading-5 font-semibold rounded cursor-pointer") 
                            | Mostrar
                        a(href=`/pacientes/completado/${campaing.id}` class="btn-eliminar text-center w-full text-xs leading-5 font-semibold rounded cursor-pointer") 
                            | Eliminar
