extends ../layout/super

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
    style.
        body::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, #46b8a9, #FFFFFF);
            background-size: cover;
            z-index: -1;
        }
        .campaign-section {
            background-color: rgba(255, 255, 255, 0.5);;
            padding: 20px;
            border-radius: 20px; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 2px;
            max-width: 100%;
        }
        .campaign-title {
            color: #333; 
            padding: 20px;
        }
        .campaign-name {
            color: #706f6f; 
            padding: 20px;
        }
        
        .btn-mostrar {
            background-color: #94c123;
            color: white;
            padding: 10px; 
        }
        .btn-mostrar:hover {
            background-color: #45a049; 
        }
        .btn-eliminar {
            background-color: #f44336; 
            color: white;
            padding: 10px; 
        }
        .btn-eliminar:hover {
            background-color: #e53935; 
        }
        
        .campaigns-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
            gap: 20px;
            justify-items: center; 
        }
block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center 
            | Fundación México Sin Sordera 
            span.font-normal A.C
        h2.text-center.text-2xl.font-extrabold CAMPAÑAS REGISTRADAS
        br
        div.campaigns-grid
            each campaing in campaings
                div.campaign-section
                    p(class="campaign-title text-gray-600 font-bold text-1xl") Nombre de la Campaña:
                        span(class="campaign-name block text-lg")= campaing.nombre
                    div(class="w-full flex flex-col lg:flex-row gap-2 justify-center")
                        a(href=`/pacientes/editar/${campaing.id}` class="btn-mostrar text-center w-full text-xs leading-5 font-semibold rounded cursor-pointer")
                            | Mostrar
                        a(href=`/pacientes/completado/${campaing.id}` class="btn-eliminar text-center w-full text-xs leading-5 font-semibold rounded cursor-pointer")
                            | Eliminar
                    // Salto de línea entre las campañas
<<<<<<< HEAD
                    br
=======
                    br
>>>>>>> 3f5545fd6848e709072389dde31a13eea7ea73b2
