extends ../layout/campaings

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")


block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center 
            | CAMPAÑAS
        div(class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4")
            each campaing in campaings
                div(class="border-2 border-black p-4 flex flex-col items-center justify-center text-center") 
                    p(class="text-green-600 font-bold text-xl") Campaña:
                        span(class="text-gray-800 block text-lg")= campaing.nombre
                        span(class="text-gray-800 block text-lg")= campaing.createdAt

