extends ../layout/campaings

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
    style.
        /* Estilos personalizados para aumentar el espacio entre los elementos del menú */
        .nav-item {
            margin-left: 2rem; /* Ajusta el valor según sea necesario */
            margin-right: 2rem; /* Ajusta el valor según sea necesario */
        }
        
        /* Fondo de la página */
        body::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('/img/logo/background-mexico-sin-sordera-2024.jpg') no-repeat center center fixed;
            background-size: cover;
            opacity: 0.3; /* Ajusta la opacidad de la imagen de fondo */
            z-index: -1; /* Asegúrate de que el fondo esté detrás del contenido */
        }



block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center 
            | CAMPAÑAS
        div(class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4")
            each campaing in campaings
                div(class="border-2 border-black p-4 flex flex-col items-center justify-center text-center") 
                    p(class="text-green-600 font-bold text-xl") Campaña:
                        span(class="text-gray-800 block text-lg")= campaing.nombre
                        span(class="text-gray-800 block text-lg")= campaing.createdAt

