header.bg-gradient-to-r.from-green-800.to-purple-700.p-2
  .container.mx-auto.px-8.flex.justify-between.items-center
    // Contenedor para imagen y título
    .flex.items-center
      a(href="/" class="bg-cover bg-center") 
        img(src="/img/logo/logo-mexico-sin-sordera-2023.png" alt="Logo" style="height: 10rem; width: auto;" class="mr-2")
      

    nav(class="my-5 text-xl  flex items-center justify-end gap-3 font-bold text-white")
      a(href="/auth/registro" class="hover:text-gray-300 hidden md:inline") Crear Cuenta
      a(href="/auth/login" class="hover:text-gray-300 hidden md:inline") Iniciar Sesión
      //- para moviles
      a(href="/auth/registro" class="hover:text-gray-300 md:hidden") Crear Cuenta
      a(href="/auth/login" class="hover:text-gray-300 md:hidden") Iniciar Sesión

hr(class=" bg-red-300 ")
div(class="bg-gradient-to-r from-green-700 to-purple-700 py-5 md:block")
  div(class="container mx-auto px-8 flex justify-between")
    nav(class="flex gap-4 items-center")
      a(href="/sitio/campaings" class="text-sm font-bold uppercase text-white") Campañas
    form(action="/buscador" method="POST" class="flex gap-3 items-center")
      input(type="hidden" name="_csrf" value=csrfToken)
      label(for="termino" class="text-sm uppercase font-bold text-white") Busqueda 
      input(type="text" id="termino" name="termino" placeholder="Buscar Paciente" class="p-2 rounded-lg shadow text-sm")
      input(type="submit" class="bg-white hover:bg-gray cursor-pointer rounded-lg text-black uppercase font-bold p-2 text-sm" value="Buscar")
