header.bg-gradient-to-r.from-green-800.to-purple-700.p-2
  .container.mx-auto.px-8.flex.justify-between.items-center
    // Contenedor para la imagen del lado izquierdo
    img(src="/img/logo/logo-mexico-sin-sordera-2023.png" alt="Logo" style="height: 8rem; width: auto;" class="mr-2")

    // Contenedor para la información del lado derecho
    .flex.items-center.gap-4
      a(href="/") 
        h1.text-xl.text-white.font-extrabold.text-center.hovertext-gray INICIO
      nav(class="my-5 text-sm md:flex md:items-center md:justify-start gap-3 font-bold text-white")
        a(href="mis-pacientes" class="hover:text-gray-300") Mis registros
        a(href="" class="hover:text-gray-300") Mi perfil 
      form(action="/auth/cerrar-sesion" method="POST" class="my-5")
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="submit" class="bg-white text-black py-2 px-10 rounded-lg" value="Cerrar Sesion")
