
header.bg-gradient-to-r.from-green-800.to-purple-700.p-2
  .container.mx-auto.px-8.flex.justify-between.items-center
    a(href="/mi-sitio")
        .relative.inline-block.bg-white.p-2.rounded-lg.shadow-lg
          img(src="/img/logo/logo-mexico-sin-sordera-2023.png" alt="Logo" style="height: 6rem; width: auto;" class="relative z-10 rounded-lg")

    nav(class="my-5 text-sm md:flex md:items-center md:justify-end gap-3 font-bold text-white hidden")
      a(href="/admin/mostrarcampaings" class="hover:text-gray-300") Campañas
      a(href="/admin/asociados" class="hover:text-gray-300") Mis Asociados
      a(href="/" class="hover:text-gray-300") Página Principal
      form(action="/auth/cerrar-sesion" method="POST") 
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="submit" class="bg-white py-2 px-10 rounded-lg text-black hover:text-gray-300" value="Cerrar Sesión") 

div(class="px-10 bg-gradient-to-r from-green-700 to-purple-700 py-5 md:block ")
  div(class="container mx-auto flex justify-between")
<<<<<<< HEAD
    a(href="/admin/campaing" class="bg-verde-pantone hover:bg-gray cursor-pointer rounded-lg text-white uppercase font-bold p-2 text-sm hover:text-gray-300 ") Crear Campaña
=======
    a(href="/admin/campaing" class="bg-verde-pantone hover:bg-gray cursor-pointer rounded-lg text-white uppercase font-bold p-2 text-sm hover:text-gray-300 ") Crear Campaña
   
   


>>>>>>> 3f5545fd6848e709072389dde31a13eea7ea73b2
