header.bg-gradient-to-r.from-green-800.to-purple-700.p-2
  .container.mx-auto.px-8.flex.justify-between.items-center
    // Contenedor para la imagen del lado izquierdo
    img(src="/img/logo/logo-mexico-sin-sordera-2023.png" alt="Logo" style="height: 10rem; width: auto;" class="mr-2")

    // Contenedor para la información del lado derecho
    .flex.items-center.gap-4
      a(href="/") 
        h1.text-xl.text-white.font-extrabold.text-center.hovertext-gray INICIO
