extends ../layout/admin

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")


block contenido
    
     div.py-10 
         h1.text-4xl.my-10.font-extrabold.text-center REGISTRO DE ACCIONES PREVIAS
            

         if errores 
            div(class="max-w-md mx-auto my-10")
                each error in errores 
                   p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg


         div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
              form.space-y-8(method="POST")
                input(type="hidden" name="_csrf" value = csrfToken)
                div.space-y-5
                    h3.text-lg.leading-6.font-medium.text-gray-900 Informacion de las acciones previas del paciente
                    p.text-gray-600 Añade Informacion sobre acciones previas
                   
                    div
                         label.block.text-sm.uppercase.text-gray-400.mb-2.fond-bold(for="empresaimplante") ¿QUE EMPRESAS DE IMPLANTE COCLEAR CONOCE?
                         input#empresaimplante.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Anote que empresa de implante coclear conoce" type="text" name="empresaimplante" value= datos ? datos.empresaimplante : '' )        
                    
                      
                   
                    div(class="md:flex md:gap-4 space-y-5 md:space-y-0")

                        div(class="md:w-1/2")
                            label.block.text-sm.uppercase.text-gray-400.mb-2.fond-bold(for="cotizacion") ¿LE PROPORCIONARON COTIZACION? ANOTE EL MONTO COTIZADO 
                            input#cotizacion.w-full.px-3.py-2.mt-5.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Anote la cotizacion" type="nutextmber" name="cotizacion" value= datos ? datos.cotizacion : '')
                        div(class="md:w-1/2")
                            label.block.text-sm.uppercase.text-gray-400.mb-2.fond-bold(for="centroimplante") EN EL CENTRO DE IMPLANTE DONDE ESTA ¿LE DAN OPCION DE ELEGIR MARCA DE IMPLANTE COCLEAR? 
                            select#centroimplante.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="centroimplante")
                                each optionCentroImplante in ['-Selecione-', 'SI','NO','NO SÉ','TAL VEZ', 'NO E TENIDO CONTACTO CON NINGUNA']
                                      option(value=optionCentroImplante selected=datos && datos.centroimplante === optionCentroImplante)=optionCentroImplante



                    div(class="md:flex md:gap-4 space-y-5 md:space-y-0")

                             div(class="md:w-1/2")
                                label.block.text-sm.uppercase.text-gray-400.mb-2.fond-bold(for="marcas")  ¿CON QUE MARCAS A TENIDO CONTACTO?
                                input#marcas.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Anote con que marcas a tenido contacto" type="text" name="marcas" value= datos ? datos.marcas : '')
                             div(class="md:w-1/2")
                                label.block.text-sm.uppercase.text-gray-400.mb-2.fond-bold(for="contacto") ¿HA TENIDO CONTACTO CON OTRA FUNDACION?
                                select#contacto.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="contacto")
                                    each optionCoontacto in ['-Selecione-', 'SI','NO','NO SÉ','TAL VEZ', 'NO E TENIDO CONTACTO CON NINGUNA']
                                        option(value=optionCoontacto selected=datos && datos.contacto === optionCoontacto)=optionCoontacto

                    div
                         label.block.text-sm.uppercase.text-gray-400.mb-2.fond-bold(for="cualcontacto") ¿CON CUAL FUNDACION A TENIDO CONTACTO?
                         input#cualcontacto.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Anote con que fundacion a tenido contacto" type="text" name="cualcontacto" value= datos ? datos.cualcontacto : '' )         
                    div
                         label.block.text-sm.uppercase.text-gray-400.mb-2.fond-bold(for="apoyo") ¿HA SOLICITADO APOYO A ALGUNA INSTITUCION PUBLICA, SERVIDOR PUBLICO?
                         input#apoyo.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Anote si a solicitado apoyo a algunas instituciones" type="text" name="apoyo" value= datos ? datos.apoyo : '')
                           
                    div
                         label.block.text-sm.uppercase.text-gray-400.mb-2.fond-bold(for="quien") ¿A QUIEN SOLICITADO APOYO?
                         input#quien.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Anote a que instituciones a solicitado apoyo" type="text" name="quien" value= datos ? datos.quien : '' )        
                    
                    
                    input(class="w-full py-3 bg-indigo-600 hover:bg-indigos-700 rounded text-white font-bold uppercase cursor-pointer" type="submit" value="Guardar")

